<div class="container rounded col-6 mt-3 py-1">
  <div class="container rounded bg-white my-3">
    <h1><%= @article.title %></h1>

    <p><%= @article.body %></p>

    <b><%= User.find(@article.user_id).email %></b><br>
    
    <%= link_to 'Edit', edit_article_path(@article), class: 'btn border py-0 px-1' %>
    <%= link_to 'Back', articles_path, class: 'btn border py-0 px-1' %>
  </div>
  
  <hr>
  
  <div class="container rounded bg-white my-3 col">
    <p>Comments:</p>
    <%= render @article.comments %><br>
    <%= render "comments/form" %>
  </div>
</div>